.logo .swiper-wrapper {
    position: relative;
    width: 1120px;
    height: 98px;
    overflow: hidden;
}
.logo .swiper-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 98px;
    height: 98px;
}
.logo .swiper-container,.org-wrap,.company-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.company-wrap .logo,.org-wrap .logo {
    position: relative;
    width: 1127px;
    height: 88px;
    overflow: hidden;
    margin-right: 76px;
}
.company-wrap .logo .img,.org-wrap .logo .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 138px;
    height: 88px;
}

.swiper-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1210px;
    height: 600px;
    overflow: hidden;
}
.img-wrap .imgs-wrapper{
    position: absolute;
    flex: 0;
    top: 0;
}

.img-wrap .imgs .title {
    font-family: PingFangSC-Medium, sans-serif;
    font-size: 22px;
    color: #999999;
    width: 100%;
    margin-top: 19px;
}

.img-wrap .imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-wrap .imgs .info {
    width: 300px;
    text-align: left;
    color: #666666;
    text-indent:2em ;
    font-size: 16px;
    margin-top: 10px;
}



