.logo .swiper-wrapper {
    position: relative;
    width: 1120px;
    height: 98px;
    overflow: hidden;
}
.logo .swiper-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 98px;
    height: 98px;
}
.logo .swiper-container,.org-wrap,.company-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.company-wrap .logo,.org-wrap .logo {
    position: relative;
    width: 1127px;
    height: 88px;
    overflow: hidden;
    margin-right: 76px;
}
.company-wrap .logo .img,.org-wrap .logo .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 138px;
    height: 88px;
}

.swiper-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1210px;
    height: 600px;
    overflow: hidden;
}
.img-wrap .imgs-wrapper{
    position: absolute;
    flex: 0;
    top: 0;
}

.img-wrap .imgs .title {
    font-family: PingFangSC-Medium, sans-serif;
    font-size: 22px;
    color: #999999;
    width: 100%;
    margin-top: 19px;
}

.img-wrap .imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-wrap .imgs .info {
    width: 300px;
    text-align: left;
    color: #666666;
    text-indent:2em ;
    font-size: 16px;
    margin-top: 10px;
    line-height: 22px;
    line-height: 26px;
}
@keyframes righttoleft{
    0%{
        top:37px;
        left:810px;
    }
    100%{
        top:37px;
        left:0;
    }
}

@keyframes righttomid{
    0%{
        top:37px;
        left: 810px;
    }
    100%{
        top:0;
        left:320px;
    }
}
@keyframes righttomidimg{
    0%{
        width: 400px;
        height: 300px;
        z-index: 1;
    }
    100%{
        width: 500px;
        height: 375px;
        z-index: 1;
    }

}
@keyframes midtoleft{
    0%{
        top:0;
        left: 320px;
    }
    100%{
        top:37px;
        left:0;
    }
}
@keyframes midtoleftimg{
    0%{
        width: 500px;
        height: 375px;
        z-index: 1;
    }
    100%{
        width: 400px;
        height: 300px;
        z-index: -1;
    }
}

@keyframes lefttomid{
    0%{
        top:37px;
        left: 0;
    }
    100%{
        top:0;
        left:320px;
    }
}
@keyframes lefttomidimg{
    0%{
        width: 400px;
        height: 300px;
        z-index: -1;
    }
    100%{
        width: 500px;
        height: 375px;
        z-index: 1;
    }
}
@keyframes midtoright{
    0%{
        top:0;
        left: 320px;
    }
    100%{
        top:37px;
        left:810px;
    }
}
@keyframes midtorightimg{
    0%{
        width: 500px;
        height: 375px;
        z-index: 1;
    }
    100%{
        width: 400px;
        height: 300px;
        z-index: -1;
    }
}
@keyframes rright{
    0%{
        top:37px;
        left: 1200px;
    }
    100%{
        top:37px;
        left:1600px;
    }
}
@keyframes rightr{
    0%{
        top:37px;
        left: 810px;
        z-index: -1;
    }
    100%{
        top:37px;
        left:1200px;
        z-index: -1;
    }
}
@keyframes leftl{
    0%{
        top:37px;
        left: 810px;
    }
    50%{
        top:37px;
        left: -200px;
    }
    100%{
        top:37px;
        left:0px;
    }
}




