@charset "utf-8";
a,body,dd,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,i,img,input,li,ol,p,pre,span,td,textarea,th,ul {
    margin:0;
    padding:0
}
body {
    font:14px tahoma,arial;
    color:#1a1a1a;
    min-width:1280px;
    min-height:100%;
    padding-bottom:300px;
    position:relative;
    box-sizing:border-box
}
em,h1,h2,h3,h4,h5,h6,i {
    font-style:normal;
    font-weight:400;
    font-size:100%
}
button,img,input,table,textarea {
    border:0
}
ol,ul {
    list-style:none
}
a {
    color:#212121;
    text-decoration:none
}
a:focus,a:hover,a:visited {
    text-decoration:none;
    outline:0
}
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0
}
.clear {
    clear:both;
    height:0;
    width:0;
    line-height:0;
    visibility:hidden
}
.container {
    width:1280px;
    margin:0 auto
}
img {
    max-width:100%;
    display:inline-block
}
img.inline {
    width:auto;
    display:inline-block
}
.positionR {
    position:relative
}
.fl {
    float:left
}
.fr {
    float:right
}
.align-ct {
    text-align:center
}
.align-lt {
    text-align:left
}
.align-rt {
    text-align:right
}
.Ndisplay {
    display:none
}
.mt10 {
    margin-top:10px
}
.mt20 {
    margin-top:20px
}
.mt30 {
    margin-top:30px
}
.mt40 {
    margin-top:40px
}
.mt50 {
    margin-top:50px
}
.mt60 {
    margin-top:60px
}
.mt85 {
    margin-top:85px
}
.mt100 {
    margin-top:100px
}
.mb10 {
    margin-bottom:10px
}
.mb20 {
    margin-bottom:20px
}
.mb30 {
    margin-bottom:30px
}
.mb40 {
    margin-bottom:40px
}
.mb50 {
    margin-bottom:50px
}
.mb60 {
    margin-bottom:60px
}
.mb80 {
    margin-bottom:80px
}
.pt60 {
    padding-top:60px
}
.pt100 {
    padding-top:100px
}
.pb100 {
    padding-bottom:100px
}
.pl10 {
    padding-left:10px
}
.pl20 {
    padding-left:20px
}
.pl22 {
    padding-left:22px
}
.pl38 {
    padding-left:38px
}
.pl63 {
    padding-left:63px
}
.ftred {
    color:#16B1B5 
}
.ftred-dark {
    color:#16B1B5
}
.ft30 {
    font-size:30px
}
.tableBg {
    font-size:24px;
    color:#333;
    background:#d5d5d5
}
.tableBg td,.tableBg th {
    padding:10px;
    box-sizing:border-box
}
.tableBg td {
    line-height:40px
}
.tableBg th {
    line-height:70px;
    font-weight:400
}
.tableBg tr th {
    color:#16B1B5;
    font-size:36px
}
.tableBg tr {
    background:#fff
}
.tableBg td.bggrey,.tableBg tr.bggrey {
    background:#fafafa
}
@font-face {
    font-family:Montserrat-Regular
}
@font-face {
    font-family:Dry-Brush
}
@-webkit-keyframes transY {
    from {
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
        transform:translateY(0);
        opacity:0
    }
    to {
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        opacity:1
    }
}@-webkit-keyframes actionText {
     from {
         -webkit-transform:translateY(0);
         -ms-transform:translateY(0);
         transform:translateY(0);
         opacity:0
     }
     to {
         -webkit-transform:translateY(-50%);
         -ms-transform:translateY(-50%);
         transform:translateY(-50%);
         opacity:1
     }
 }@keyframes actionText {
      from {
          -webkit-transform:translateY(0);
          -ms-transform:translateY(0);
          transform:translateY(0);
          opacity:0
      }
      to {
          -webkit-transform:translateY(-50%);
          -ms-transform:translateY(-50%);
          transform:translateY(-50%);
          opacity:1
      }
  }
  .header {
       width:100%;
       min-width:1280px;
       height:80px;
       position:fixed;
       top:0;
       left:0;
       z-index:20;
       background:rgba(22,177,181,0.5);
       border-top:0px solid #16B1B5;
   }
.header .logo {
    width:auto;
    display:inline-block;
    padding:0;
    cursor:pointer;
    height: 80px;
}
.header .nav {
    padding-right: 0;
    float:right;
}
.nav {
    /*margin: 0 30px;*/
    /*line-height: 56px;*/
    /*color: #fff;*/
    /*font-size: 24px;*/
    /*border-bottom: 4px solid #f1c40f;*/
}
.header li {
    width:114px;
    line-height:80px;
    text-align:center;
    display:inline-block;
    cursor:pointer;
    -webkit-transition:ease .5s all;
    transition:ease .5s all;
    float:right;
    font-size: 20px
}
.header.small {
    height:80px
}
.header.small .logo {
    padding: 0;
    -webkit-transition:ease .5s all;
    transition:ease .5s all;
    height: 80px;
}
.header.small li {
    width:100px;
    line-height:60px
}
.header li a {
    display:block;
    color:#FFFFFF
}
.header li.active a,.header li:hover a {
    color:#ffffff
}
.header li.active,.header li:hover {
    -webkit-animation:tabHover 2s forwards;
    animation:tabHover 2s forwards
}
@-webkit-keyframes tabHover {
    from {
        color:#16B1B5
    }
    to {
        color:#16B1B5
    }
}@keyframes tabHover {
     from {
         color:#16B1B5
     }
     to {
         color:#16B1B5
     }
 }.tab-nav {
      position:absolute;
      top:5px;
      right:0;
      z-index:10;
      text-align:right
  }
.tab-nav.top-lg {
    top:650px
}
.tab-nav li {
    width:180px;
    line-height:58px;
    font-size:24px;
    border:solid 1px #d2d2d2;
    border-radius:4px;
    margin:0 8px;
    cursor:pointer;
    display:inline-block;
    text-align:center
}
.tab-nav li.on {
    color:#fff;
    background:#16B1B5;
    border:solid 1px #16B1B5;
    box-shadow:0 10px 9px rgba(255,40,31,.17)
}
.tab-main {
    margin-top:180px
}
.tab-main.margin-none {
    margin-top:0
}
.banner {
    height:600px
}
.banner .img {
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height:100%
}
.banner .swiper-pagination-bullet {
    width:60px;
    height:6px;
    background:rgba(255,255,255,.5);
    border-radius:5px
}
.banner .swiper-pagination-bullet-active {
    background:#16B1B5
}
.banner .text {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    -ms-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center
}
.banner .text .title {
    font-size:52px
}
.banner .text .subTitle {
    font-size:22px
}
@-webkit-keyframes downImg {
    from {
        -webkit-transform:translateY(-1.2em);
        transform:translateY(-1.2em);
        opacity:0
    }
    to {
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1
    }
}@keyframes downImg {
     from {
         -webkit-transform:translateY(-500px);
         transform:translateY(-500px);
         opacity:0
     }
     to {
         -webkit-transform:translateY(0);
         transform:translateY(0);
         opacity:1
     }
 }@-webkit-keyframes leftImg {
      from {
          -webkit-transform:translateX(-1.2em);
          transform:translateX(-1.2em);
          opacity:0
      }
      to {
          -webkit-transform:translateX(0);
          transform:translateX(0);
          opacity:1
      }
  }@keyframes leftImg {
       from {
           -webkit-transform:translateX(-500px);
           transform:translateX(-500px);
           opacity:0
       }
       to {
           -webkit-transform:translateX(0);
           transform:translateX(0);
           opacity:1
       }
   }.caption {
        margin-top:60px;
        text-align:center;
        position:relative
    }
.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caption .title {
    font-size:36px;
    line-height:55px
}
.caption .slantLine {
    position:absolute;
    top:3px;
    width:1px;
    height:48px;
    margin:0 5px;
    display:inline-block;
    background:#1a1a1a
}
.my-caption:before {
    content:"";
    position:absolute;
    top:80px;
    left:50%;
    margin-left:-19px;
    width:38px;
    height:1px;
    background:#1a1a1a;
    display:block
}
.caption .subTitle {
    color:#999;
    font-size:16px;
    height:44px;
    vertical-align: text-top;
    font-family:Montserrat-Regular
}
.caption .subTitle.padding-sm {
    padding-top:20px
}
.caption .subTitle-text {
    font-size:36px;
    color:#999;
    line-height:40px;
    padding-top:20px
}
.advantage .list .title,.advantage .list li .img,.advantage .list li:before {
    border-radius:10px
}
.advantage .list {
    margin:30px auto 0;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.advantage .list li {
    width:270px;
    height:270px;
    margin:0;
    position:relative;
    cursor:pointer;
    text-align:center;
    overflow:hidden;
}
.advantage .list li .img {
    width:100%;
    height:270px;
    display:block;
    opacity:.5
}
.advantage .list .title {
    color:#666666;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
    font-size:26px;
    line-height:270px;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    background:rgba(160,160,160,.1)
}
.advantage .list .title.lh-small {
    line-height:60px;
    padding:90px 0
}
/* .advantage .list li:before,.honor-img-list li:hover:before {
    content:"";
    display:inline-block;
    width:100%;
    height:100%;
    background:#16B1B5;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    -webkit-transition:all .3s ease-out 0s;
    transition:all .3s ease-out 0s
}
.advantage .list li:hover .title {
    opacity:0
}
.advantage .list li:hover:before {
    -webkit-animation:liBefore .8s forwards;
    animation:liBefore .8s forwards
}
.honor-img-list li:hover:before {
    -webkit-animation:liBefore .6s forwards;
    animation:liBefore .6s forwards
} */
@-webkit-keyframes liBefore {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}@keyframes liBefore {
     from {
         opacity:0
     }
     to {
         opacity:1
     }
 }.advantage .list .item,.honor-img-list li .item {
      position:absolute;
      left:0;
      top:50%;
      z-index:3;
      width:100%;
      color:#fff;
      font-size:24px;
      opacity:0;
      -webkit-transition:all .3s ease-out .5s;
      transition:all .3s ease-out .5s
  }
.advantage .list .item h2 {
    font-size:32px;
    padding:20px 0 22px
}
.advantage .list .item .msg {
    line-height:34px
}
.advantage .list .item .more {
    font-family:Montserrat-Regular;
    line-height:30px;
    padding-top:32px;
    display:inline-block;
    color:#fff
}
.advantage .list li:hover .item {
    -webkit-animation:transY .8s forwards;
    animation:transY .8s forwards
}
.honor-img-list li:hover .item {
    -webkit-animation:transY .6s forwards;
    animation:transY .6s forwards
}
.advantage .list.other li {
    width:466px;
    margin:0 1px 0 0
}
.advantage .list.other li:before {
    z-index:1
}
.advantage .list.other li:nth-last-of-type(1) {
    margin:0
}
.advantage .list.other li:hover .title {
    opacity:1;
    z-index:2;
    background:0 0
}
.companyProfile {
    height:560px;
    margin-top:30px
}
.companyProfile .box {
    background:url(/images/home-5.jpg) no-repeat center center;
    background-size:cover;
    overflow:hidden;
    width:1200px;
    height:500px;
    margin:0 auto;
    position:relative
}
.company-title-animation {
    -webkit-animation:company .8s forwards 1s;
    animation:company .8s forwards 1s
}
@-webkit-keyframes company {
    from {
        top:-280px;
        opacity:0
    }
    to {
        top:160px;
        opacity:1
    }
}@keyframes company {
     from {
         top:-280px;
         opacity:0
     }
     to {
         top:160px;
         opacity:1
     }
 }.companyProfile .message,.flow .message {
      width:1200px;
      margin:0 auto;
      height:60px;
      line-height:60px;
      background:#16B1B5;
      color:#fff;
      font-size:24px
  }
.company-msg-animation {
    -webkit-animation:companyMsg 1s forwards 1.5s;
    animation:companyMsg 1s forwards 1.5s
}
.companyProfile .message .text,.flow .message .text {
    margin-left:20px
}
.flow {
    position:relative;
    margin:60px 0
}
.flow .box {
    background:url(/images/home-6.jpg) no-repeat center center;
    background-size:cover;
    overflow:hidden;
    width:1200px;
    height:600px;
    margin:0 auto;
    position:relative
}
.flow .content {
    position:absolute;
    top:206px;
    left:50%;
    z-index:2
}
.flow .content .text {
    font-size:48px
}
.flow .content .subTitle {
    font-size:24px
}
.companyProfile .title,.flow .title {
    position:absolute;
    top:-280px;
    left:20px;
    z-index:1;
    opacity:0;
    width:auto;
    display:inline-block
}
.flow-msg-animation {
    -webkit-animation:companyMsg 1s forwards 1.5s;
    animation:companyMsg 1s forwards 1.5s
}
.flow .message .text {
    padding-bottom:40px
}
@-webkit-keyframes companyMsg {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}@keyframes companyMsg {
     from {
         opacity:0
     }
     to {
         opacity:1
     }
 }.companyProfile .more {
      height:30px;
      line-height:30px;
      cursor:pointer;
      position:relative;
      display:inline-block
  }
.companyProfile .more span {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    display:inline-block;
    font-family:Montserrat-Regular
}
.companyProfile .more a {
    color:#fff
}
.companyProfile .more:hover:before {
    content:"";
    width:0;
    height:8px;
    position:absolute;
    bottom:0;
    left:1px;
    z-index:1;
    background:#16B1B5;
    -webkit-animation:moreLine .4s forwards;
    animation:moreLine .4s forwards
}
@-webkit-keyframes moreLine {
    from {
        width:0
    }
    to {
        width:82px
    }
}@keyframes moreLine {
     from {
         width:0
     }
     to {
         width:82px
     }
 }.vip-welfare .list {
      width:1200px;
      margin:75px auto 0;
      display:table
  }
.vip-welfare.lg .list {
    width:1280px
}
.vip-welfare.lg .list li {
    width:25%;
    height:auto;
    padding:50px 0;
    border-bottom:0
}
.vip-welfare.lg .list li:before {
    height:80px;
    top:50%;
    margin-top:-40px
}
.vip-welfare.lg .list li:nth-last-of-type(1):before {
    display:none
}
.vip-welfare.lg .list li:nth-of-type(3n):before {
    display:block
}
.vip-welfare.lg .list li .icon {
    margin-top:0
}
.vip-welfare.lg.other .list {
    margin:40px auto
}
.vip-welfare.lg.other .list li {
    width:20%;
    height:283px;
    padding:100px 0 0
}
.vip-welfare.lg.other .list .title {
    padding:90px 0 0
}
.vip-welfare.lg.other .list .title.padding-sm {
    padding:67px 0 0
}
.vip-welfare.lg.other .list li:before {
    height:100%;
    top:0;
    margin-top:0
}
.vip-welfare .list li {
    width:33.33%;
    height:346px;
    text-align:center;
    border-bottom:solid 1px #e5e5e5;
    -webkit-transition:all .5s ease-in;
    transition:all .5s ease-in;
    position:relative;
    float:left
}
.vip-welfare .list li:before {
    content:"";
    width:1px;
    height:100%;
    background:#e5e5e5;
    position:absolute;
    top:0;
    right:0
}
.vip-welfare .list li:nth-of-type(3n):before {
    display:none
}
.vip-welfare .list li:nth-child(n+4) {
    border-bottom:0
}
.help-time li .icon:before,.plat-list .item:before,.vip-welfare .list li .icon {
    width:60px;
    height:60px;
    background-size:360px 180px;
    display:inline-block;
    margin-top:70px;
    color:#1a1a1a
}
.vip-welfare .list li .icon.a {
    background:url(/images/concat-1.png) no-repeat
}
.vip-welfare .list li .icon.b {
    background:url(/images/concat-2.png) no-repeat
}
.vip-welfare .list li .icon.c {
    background:url(/images/concat-3.png) no-repeat
}
.vip-welfare .list li .icon.d {
    background:url(/images/concat-4.png) no-repeat
}
.vip-welfare .list li .icon.e {
    background-position:-240px 0
}
.vip-welfare .list li .icon.f {
    background-position:-300px 0
}
.vip-welfare .list .item {
    padding-top:70px
}
.vip-welfare .list .title {
    line-height:44px;
    font-size:34px;
    padding:17px 0 20px
}
.vip-welfare .list .msg {
    font-size:24px;
    color:#999;
    line-height:38px
}
.vip-welfare .list li {
    box-shadow:0 10px 34px rgba(255,0,80,.5);
    background:#16B1B5
}
.vip-welfare .list li:hover:before {
    display:none
}
.vip-welfare .list li:hover .msg,.vip-welfare .list li:hover .title {
    color:#fff
}
.platform {
    height:500px;
    margin-top:150px;
    background:url(https://www.chuchutui.com/chuchutui/pc/img/bg2.jpg) no-repeat center center;
    background-size:cover;
    overflow:hidden;
    font-size:24px;
    color:#fff
}
.platform .box {
    position:relative
}
.platform .img {
    position:absolute;
    top:118px;
    left:-260px;
    width:auto;
    height:262px;
    opacity:0
}
.platform-img-animation {
    -webkit-animation:platformImg .5s forwards .8s;
    animation:platformImg .5s forwards .8s
}
@-webkit-keyframes platformImg {
    from {
        opacity:0;
        left:-260px
    }
    to {
        opacity:1;
        left:0
    }
}@keyframes platformImg {
     from {
         opacity:0;
         left:-260px
     }
     to {
         opacity:1;
         left:0
     }
 }.brand {
      width:1280px;
      min-height:480px;
      padding-bottom:200px;
      margin:0 auto
  }
.brand .list {
    padding-top:50px
}
.brand li {
    width:180px;
    padding:0 50px 70px
}
.flip-container {
    perspective:1000;
    -webkit-perspective:1000px;
    -ms-perspective:1000px;
    -o-perspective:1000px;
    perspective:1000px;
    width:180px;
    cursor:pointer;
    float:left
}
.flip-container:hover .back {
    transform:rotateY(0);
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    -ms-transform:rotateY(0);
    -o-transform:rotateY(0);
    z-index:2
}
.flip-container:hover .front {
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    z-index:1
}
.back,.flip-container,.front {
    width:180px;
    height:60px
}
.flipper {
    -webkit-transition:-webkit-transform .6s ease-out;
    transition:-webkit-transform .6s ease-out;
    transition:transform .6s ease-out;
    transition:transform .6s ease-out,-webkit-transform .6s ease-out;
    -webkit-transition:-webkit-transform .5s ease-in-out;
    transition:-webkit-transform .5s ease-in-out;
    transition:transform .5s ease-in-out;
    transition:transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
    -webkit-transition:transform .5s ease-in-out;
    -moz-transition:transform .5s ease-in-out;
    -ms-transition:transform .5s ease-in-out;
    -o-transition:transform .5s ease-in-out;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    display:block;
    position:relative
}
.back,.front {
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transition:.6s ease-out;
    -webkit-transition:.6s ease-out;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    position:absolute;
    top:0;
    left:0
}
.back img,.front img {
    width:180px;
    height:80px
}
.front {
    z-index:2;
    transform:rotateY(0);
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    -ms-transform:rotateY(0);
    -o-transform:rotateY(0)
}
.back {
    z-index:1;
    transform:rotateY(-180deg);
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    -ms-transform:rotateY(-180deg);
    -o-transform:rotateY(-180deg)
}
.coo-banner {
    background:url(/images/concat.jpg?t=2018102903) no-repeat center center;
    background-size:cover;
    height:600px;
    position:relative
}
.coo-notice .title {
    font-size:36px;
    line-height:50px;
    margin-bottom:80px;
    position:relative
}
.coo-notice .title:before {
    content:"";
    width:2px;
    height:44px;
    position:absolute;
    top:70px;
    left:50%;
    margin-left:-1px;
    display:inline-block;
    background:#da251e
}
.coo-notice .msg {
    font-size:24px;
    color:#444;
    line-height:34px
}
.coo-notice .msg.line {
    padding-top:70px;
    position:relative
}
.enter-btn {
    width:150px;
    height:40px;
    line-height:40px;
    font-size:24px;
    color:#16B1B5;
    text-align:center;
    margin:60px auto 0;
    background:#fff;
    border:1px solid #16B1B5;
    border-radius:8px;
    display:block;
    cursor:pointer
}
.coo-flow-banner {
    background:url(https://www.chuchutui.com/chuchutui/pc/img/banFlow.jpg) no-repeat center center;
    height:310px
}
.mark-tt {
    font-size:26px;
    color:#999;
    line-height:50px
}
.mark-tt.other {
    line-height:40px;
    font-size:26px;
    color:#333
}
.mark-content {
    font-size:24px;
    color:#999;
    line-height:40px
}
.mark-content.other {
    font-size:24px;
    line-height:40px;
    padding-bottom:30px
}
.mark-content.other:last-child {
    padding-bottom:0
}
.platform-banner1,.platform-banner2,.platform-banner3 {
    height:500px
}
.platform-banner1 {
    background:url(https://www.chuchutui.com/chuchutui/pc/img/banPt1.jpg) no-repeat center center
}
.platform-banner2 {
    background:url(https://www.chuchutui.com/chuchutui/pc/img/banPt2.jpg) no-repeat center center
}
.platform-banner3 {
    background:url(https://www.chuchutui.com/chuchutui/pc/img/banPt3.jpg) no-repeat center center
}
.platform-effect {
    color:#fff;
    padding:106px 0 130px;
    background:#16B1B5
}
.plat-box {
    width:1000px;
    margin:0 auto
}
.plat-img {
    width:300px;
    height:693px;
    padding:0 22px;
    background:url(https://www.chuchutui.com/chuchutui/pc/img/iosBg.png) no-repeat;
    background-size:100% 100%
}
.plat-img .item {
    width:300px;
    height:100%;
    position:relative;
    overflow:hidden
}
.plat-img .img {
    position:absolute;
    right:-300px;
    top:80px;
    width:300px;
    height:534px
}
.plat-img .img img {
    width:100%;
    height:100%
}
.plat-img .img.on {
    -webkit-animation:rightImg .5s forwards;
    animation:rightImg .5s forwards
}
@-webkit-keyframes rightImg {
    from {
        right:-300px
    }
    to {
        right:0
    }
}@keyframes rightImg {
     from {
         right:-300px
     }
     to {
         right:0
     }
 }.plat-list li {
      width:490px;
      padding:18px;
      font-size:24px;
      cursor:pointer;
      position:relative
  }
.plat-list li.on {
    cursor:pointer;
    color:#1a1a1a;
    background:#fff;
    box-shadow:0 10px 34px rgba(255,40,31,.17);
    border-radius:4px
}
.plat-list .item {
    padding:40px 0 40px 179px;
    position:relative
}
.plat-list .item:before {
    content:"";
    position:absolute;
    top:50%;
    left:56px;
    margin-top:-30px
}
.plat-list .item.a:before {
    background-position:-120px -60px
}
.plat-list .item.b:before {
    background-position:-60px -60px
}
.plat-list .item.c:before {
    background-position:-240px -60px
}
.plat-list .item.d:before {
    background-position:-300px -60px
}
.plat-list li.on .item.a:before {
    background-position:-120px -120px
}
.plat-list li.on .item.b:before {
    background-position:-60px -120px
}
.plat-list li.on .item.c:before {
    background-position:-240px -120px
}
.plat-list li.on .item.d:before {
    background-position:-300px -120px
}
.my-about li:first-child {
    border-right:1px solid #f0f0f0;
    border-top:1px solid #f0f0f0;
    height: 360px
}
.my-about li:nth-child(2) {
    border-left:1px solid #f0f0f0;
    border-bottom:1px solid #f0f0f0
}
.my-about {
    position:relative;
    height:600px
}
.my-about_ {
    position:relative;
    height:800px
}
.my-about .msg {
    text-align:justify
}
.my-about .my-img {
    float:left!important;
    width:642px!important
}
.my-about .my-msg {
    float:right!important;
    width:641px
}
.my-about .second {
    top:0px
}
.my-about .second h2 {
    text-align:left;
    color: #666666;
}
.my-about .second .title {
    text-align:left;
    color: #666666;
}
.my-about .second .content {
    width:539px;
    padding:0 50px
}
.advantage-list li {
    width:1281px;
    height:600px;
    position:absolute;
    left:50%;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%)
}
.advantage-list li:hover {
    background:#16B1B5;
    -webkit-animation:liBg .5s forwards;
    animation:liBg .5s forwards
}
.advantage-list li:hover,.advantage-list li:hover .msg,.advantage-list li:hover .subTitle, .advantage-list li:hover .title{
    color:#fff
}
@-webkit-keyframes liBg {
    from {
        background:rgba(255,0,80,0)
    }
    to {
        background:#16B1B5
    }
}@keyframes liBg {
     from {
         background:rgba(255,0,80,0)
     }
     to {
         background:#16B1B5
     }
 }.advantage-list .item {
      width:640px;
      height:600px;
      float:right
  }
.advantage-list .content {
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    padding:0 50px
}
.advantage-list .title {
    font-size:36px;
    display:inline-block;
    line-height:54px
}
.advantage-list .subTitle {
    line-height:20px;
    font-size:18px;
    font-family:Montserrat-Regular;
    color:#999;
    display:inline-block;
    padding-left:30px;
    vertical-align:sub
}
.advantage-list .msg {
    line-height:48px;
    font-size:18px;
    color:#666666;
    padding-top:26px;
    text-indent: 2em
}
.advantage-list .img {
    width:360px;
    height:270px;
    float:left
}
.help-banner {
    background:url(/images/help.jpg) no-repeat center center;
    background-size:cover;
    height:600px;
    position:relative
}
.help-time {
    padding-top:60px
}
.help-time .one {
    background:url(/images/phone.png) no-repeat
}
.help-time .two {
    background:url(/images/time.png) no-repeat
}
.help-time li {
    padding-left:100px;
    position:relative;
    float:left;
    font-size:18px;
    line-height:32px
}
.help-time li:nth-of-type(1) {
    width:400px
}
.help-time li:nth-of-type(1):after {
    content:"";
    width:1px;
    height:66px;
    background:#999;
    position:absolute;
    top:50%;
    right:118px;
    margin-top:-33px
}
.help-time li .icon {
    position:absolute;
    top:9px;
    left:44px;
    width:80px;
    height:80px;
    background-size:60%
}
.help-time li .icon:before {
    content:"";
    margin-top:20px
}
.help-time li:nth-child(1) .icon:before {
    background-position:-240px -60px
}
.help-time li:nth-child(2) .icon:before {
    background-position:-60px -60px
}
.help-time .title {
    color:#999
}
.about-banner {
    background:url(/images/about.jpg) no-repeat center center;
    height:600px;
    background-size:cover;
    position:relative
}
.founder-banner {
    background:url(/images/introduction.jpg) no-repeat center center;
    height:600px;
    background-size:cover;
    position:relative
}
.banner-img .msg {
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
    -webkit-transform:translateX(-50%) translateY(-50%);
    -ms-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    color:#fff
}
.banner-img .msg h2 {
    font-size:52px
}
.banner-img .msg p {
    font-size:22px;
    margin-top:15px
}
.banner-img .msg .slantLine {
    width:48px;
    height:2px;
    display:inline-block;
    background:#16B1B5
}
.introduction-content-about {
    margin-top:40px;
    line-height:22px;
    letter-spacing:2px
}
.introduction-content-about .spec-item-about {
    width:1280px;
    height:400px;
    margin:0 auto;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    color:#fff;
    background:url(/images/introduction.jpg) no-repeat center center;
    background-size:100%
}
.introduction-content-about .spec-item-about div {
    margin:0 auto;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-flow:column;
    -ms-flex-flow:column;
    flex-flow:column;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
.introduction-content-about .spec-item-about div .title {
    font-size:40px;
    margin-bottom:30px
}
.introduction-content-about .spec-item-about div p {
    font-size:20px;
    margin-top:20px
}
.introduction-content-about .spec-item-about .slantLine {
    width:100px;
    height:5px;
    display:inline-block;
    background:#16B1B5
}
.introduction-title {
    margin-top:20px;
    width:100%;
    padding-left:20px;
    border-left:10px solid #d74b7a;
    height:100px
}
.introduction-title span:nth-child(1) {
    font-size:40px
}
.introduction-title p {
    color:#535353;
    font-size:20px
}
.duonvlang {
    width:40px;
    height:20px;
    margin-left:15px;
    background:url(/images/duonvlang.jpg) no-repeat center center;
    background-size:100%
}
.trophy {
    width:15px;
    height:20px;
    margin-left:15px;
    background:url(/images/trophy.png) no-repeat center center;
    background-size:100%
}
.sharegoods {
    width:40px;
    height:20px;
    margin-left:15px;
    background:url(/images/sglogo.png) no-repeat center center;
    background-size:100%
}
.introduction-main {
    width:100%;
    height:410px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    border-bottom:1px solid gray
}
.introduction-main .introduction-content {
    width:70%;
    font-size:16px
}
.introduction-main .introduction-content .title {
    font-size:24px;
    margin:50px 0 10px 50px
}
.introduction-main .ceo-pic {
    width:30%;
    height:100%;
    background:url(/images/ceo.png) no-repeat center center;
    background-size:100%
}
.layui-timeline {
    margin-top:40px;
    margin-bottom:200px
}
.layui-timeline-item {
    position:relative;
    padding-bottom:20px;
    margin-top:-12px
}
.returnBtn {
    position:absolute;
    right:10%;
    bottom:15%;
    color:#fff;
    width:150px;
    height:50px;
    text-align:center;
    line-height:50px;
    border-radius:10px;
    background:#4599d0
}
li {
    list-style:none
}
.layui-timeline-item:first-child::before {
    display:block
}
.layui-timeline-item:last-child::before {
    content:'';
    position:absolute;
    left:5px;
    top:0;
    z-index:0;
    width:0
}
.layui-timeline-item::before {
    content:'';
    position:absolute;
    top:0;
    z-index:0;
    width:1px;
    height:100%
}
.layui-timeline-item::before,hr {
    background-color:#909499
}
.layui-timeline-axis {
    position:absolute;
    left:-5px;
    top:0;
    z-index:10;
    width:20px;
    height:20px;
    line-height:20px;
    background-color:#fff;
    color:#5fb878;
    border-radius:50%;
    text-align:center;
    cursor:pointer
}
.layui-icon {
    font-family:layui-icon!important;
    font-size:16px;
    font-style:normal
}
.layui-timeline-content {
    padding-left:25px
}
.layui-text {
    line-height:22px;
    font-size:14px;
    color:#666;
    top:-10px
}
.layui-timeline-title {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    position:relative;
    margin-bottom:6px;
    color:gray;
    font-size:20px
}
.yeji {
    background:#fcf0f2;
    width:100%;
    height:180px;
    line-height:30px;
    padding-top:30px
}
.yeji li {
    list-style-type:disc
}
.circle {
    width:10px;
    height:10px;
    border-radius:50%;
    border:1px solid #909499
}
.about-content {
    margin-top:40px
}
.about-content .item {
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
.about-content .item .msg,.about-content .item .one,.about-content .item .two {
    width:50%;
    height:600px
}
.about-content .item .one {
    background:url(/images/about-1.jpg) no-repeat center center;
    background-size:cover
}
.about-content .item .two {
    background:url(/images/about-2.jpg) no-repeat center center;
    background-size:cover
}
.about-content .item .msg.right {
    text-align:right
}
.about-content .item .msg.left {
    text-align:left
}
.about-content .item .title {
    font-size:24px;
    margin:50px 0 10px 50px
}
.about-content .item .content {
    width:250px;
    margin-left:50px;
    text-align:justify
}
.about-content .item .right .content,.about-content .item .right .title {
    margin-right:50px
}
.about-content .spec-item {
    background:url(/images/about-3.jpg) no-repeat center center
}
.article-area {
    width:1200px;
    margin:0 auto
}
.spec-item {
    width:1280px;
    height:400px;
    margin:0 auto;
    background-size:cover;
    text-align:center;
    color:#fff;
    font-size:24px;
    position:relative
}
.spec-item div {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    -ms-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}
.spec-item div .title {
    font-size:40px;
    margin-bottom:20px
}
.concat-content .spec-item {
    background:url(/images/concat-5.jpg) no-repeat center center
}
.company-content {
    padding:85px 0 100px
}
.company-content p {
    line-height:42px;
    font-size:24px;
    padding-bottom:40px
}
.about-course {
    background:url(https://www.chuchutui.com/chuchutui/pc/img/map.jpg) no-repeat center 550px;
    background-size:1429px auto;
    padding-bottom:190px
}
.about-logo {
    width:auto;
    margin:150px auto 0;
    display:inline-block
}
.about-item {
    padding-left:100px;
    font-size:36px;
    margin-top:150px;
    position:relative
}
.about-item:before {
    content:"";
    position:absolute;
    top:0;
    bottom:140px;
    left:150px;
    z-index:1;
    width:2px;
    background:#f29c9f
}
.about-item li {
    position:relative;
    z-index:2;
    padding-bottom:140px;
    width:100%;
    display:table
}
.about-item .year {
    width:210px;
    height:83px;
    line-height:83px;
    color:#c1281e;
    text-align:center;
    margin-right:60px;
    background:#f8e8e7;
    float:left
}
.about-item .content {
    max-width:730px;
    line-height:58px;
    padding-top:13px;
    color:#333;
    float:left
}
.honor-tab {
    text-align:center;
    padding:90px 0
}
.honor-tab a {
    width:300px;
    height:100px;
    line-height:100px;
    color:#1a1a1a;
    font-size:24px;
    display:inline-block;
    vertical-align:middle;
    margin:0 -2px;
    position:relative
}
.honor-tab a.on {
    font-size:99px;
    color:#16B1B5;
    padding-top:20px;
    height:80px;
    line-height:80px;
    font-family:Dry-Brush
}
.honor-tab a.on:before {
    display:block;
    top:-92px
}
.honor-img-list {
    width:1452px;
    margin:0 auto;
    display:table;
    padding-bottom:100px
}
.honor-img-list li,.honor-img-list li img,.honor-img-list li:before {
    border-radius:10px
}
.honor-img-list li {
    width:434px;
    margin:0 25px 50px;
    position:relative;
    cursor:pointer;
    float:left
}
.honor-img-list li img {
    width:100%;
    height:300px
}
.honor-img-list li .item {
    line-height:36px;
    text-align:center
}
.welfare-banner {
    background:url(https://www.chuchutui.com/chuchutui/pc/img/banAction.jpg) no-repeat center center;
    height:498px
}
.welfare-msg {
    line-height:36px;
    font-size:24px;
    padding:86px 0 134px
}
.action-box {
    margin:80px 0 160px;
    text-align:center
}
.action-box li {
    display:inline-block;
    margin:0 48px;
    position:relative
}
.action-box li:before,.honor-tab a:before {
    content:"";
    width:0;
    height:0;
    border-top:solid 30px #16B1B5;
    border-left:solid 30px transparent;
    border-right:solid 30px transparent;
    position:absolute;
    top:-80px;
    left:50%;
    margin-left:-30px;
    display:none
}
.action-box li.on:before {
    display:block
}
.action-box .photo {
    width:180px;
    height:180px;
    border-radius:50%
}
.action-box .name {
    line-height:54px;
    font-size:36px;
    text-align:center;
    padding-top:10px
}
.action-text .introduce {
    color:#fff;
    font-size:28px;
    line-height:56px;
    text-align:center;
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    opacity:0
}
.action-text .introduce.on {
    -webkit-animation:transY .5s forwards;
    animation:transY .5s forwards
}
.action-msg {
    height:418px;
    background:#16B1B5;
    position:relative
}
.action-text {
    height:100%;
    position:relative
}
.action-text:after,.action-text:before {
    content:"";
    width:37px;
    height:33px;
    background:url(https://www.chuchutui.com/chuchutui/pc/img/icon2.png) no-repeat;
    position:absolute
}
.action-text:before {
    top:45px;
    left:65px
}
.action-text:after {
    bottom:30px;
    right:88px;
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.copyRight {
    font-size:16px;
    color:#fff;
    height:200px;
    padding:10px 0 10px;
    background:#16B1B5;
    position:absolute;
    bottom:0;
    right:0;
    left:0
}
.copyRight ul {
    width:100%;
    padding-bottom:30px;
    padding-top: 30px;
    display:table
}
.copyRight ul:nth-last-of-type(1) {
    padding:32px 0 0;
    margin-left: 120px;
    border-top:solid 1px #666666;
    width: 75%
}
.copyRight li {
    width:400px;
    line-height:26px;
    float:left
}
.copyRight a.anchor {
    font-size: 20px;
    color: #666666;
    letter-spacing: 2.05px;
    padding-left: 7%
}
.copyRight li.padding-top {
    padding-top:10px;
    color: rgba(102,102,102,1);
    font-size: 20px
}
.copyRight li:nth-of-type(2) {
    width:350px
}
.copyRight .website {
    line-height:34px;
    font-size:33px;
    padding-bottom:5px
}
.copyRight ul:nth-last-of-type(1) li:nth-of-type(1) {
    width:350px;
    margin-left:500px
}
.popup {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    z-index:100
}
.popup-box {
    position:fixed;
    top:50%;
    left:50%;
    margin:-150px 0 0 -230px;
    background:#fff;
    width:460px;
    padding:25px 0 0;
    font-size:16px;
    z-index:101
}
.popup .close {
    position:absolute;
    top:10px;
    right:10px;
    width:31px;
    height:31px;
    z-index:5;
    background:url(https://www.chuchutui.com/chuchutui/pc/img/close.png) no-repeat center center;
    cursor:pointer
}
.popup .msg {
    width:80%;
    margin:0 auto;
    padding-top:20px
}
.popup .enter-btn {
    width:200px;
    height:60px;
    line-height:60px;
    font-size:30px;
    margin:40px auto
}
.my-nav {
    margin-top:-85px;
    right:60px
}
.my-main {
    margin-top:100px
}
.my-container {
    width:100%
}
.my-welfare {
    width:100%
}
.my-welfare .list {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin-top:100px
}
.my-welfare .list li {
    margin-right:30px;
    box-shadow:0 10px 34px rgba(255,0,80,.5);
    background:#16B1B5;
    text-align:center;
    padding:20px;
    color:#fff
}
.my-welfare .list li .title {
    line-height:44px;
    font-size:34px;
    padding:17px 0 20px
}
.my-welfare .list li .msg {
    font-size:24px;
    line-height:38px
}
.my-welfare .list li .icon {
    width:80px;
    height:80px;
    display:inline-block
}
.my-welfare .list li .icon.a {
    background:url(/images/concat-1.png) no-repeat
}
.my-welfare .list li .icon.b {
    background:url(/images/concat-2.png) no-repeat
}
.my-welfare .list li .icon.c {
    background:url(/images/concat-3.png) no-repeat
}
.my-welfare .list li .icon.d {
    background:url(/images/concat-4.png) no-repeat
}
.my-process {
    width:100%
}
.my-process .list {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin-top:100px
}
.my-process .list li {
    margin-right:30px;
    padding:20px
}
.my-process .list li .title {
    line-height:44px;
    font-size:34px;
    padding:17px 0 20px
}
.my-process .list li .msg {
    font-size:24px;
    color:#999;
    line-height:38px;
    text-align:left
}
.my-process .list li .icon {
    width:80px;
    height:80px;
    display:inline-block
}
.my-process .list li .icon.a {
    background:url(/images/process-1.png) no-repeat
}
.my-process .list li .icon.b {
    background:url(/images/process-1.png) no-repeat
}
.my-process .list li .icon.c {
    background:url(/images/process-2.png) no-repeat
}
.my-process .list li .icon.d {
    background:url(/images/process-3.png) no-repeat
}
.help-caption {
    text-align:left;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
.help-caption .subTitle {
    padding-top:0
}
.help-caption .slantLine {
    position:absolute;
    top:3px;
    left:193px;
    width:1px;
    height:48px;
    margin:0 5px;
    display:inline-block;
    background:#1a1a1a
}
.flow-banner {
    background:url(/images/flow.jpg) no-repeat center center;
    background-size:cover;
    height:600px;
    position:relative
}
.six-puzzles.list {
    width:845px
}
.six-puzzles.list li {
    width:400px;
    height:200px;
    border:1px solid #eee;
    margin-bottom:20px;
    border-radius:10px
}
.six-puzzles.list .img {
    position:absolute;
    top:75px;
    font-size:30px;
    color:#16B1B5;
    opacity:1!important
}
.six-puzzles.list .item {
    font-size:20px
}
.my-solution {
    width:100%
}
.my-solution .caption {
    margin-bottom:40px
}
.my-solution .list {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin-bottom:20px
}
.my-solution .list li {
    margin-right:20px;
    text-align:center;
    padding:20px 10px 50px;
    border:1px solid #ccc;
    width:200px
}
.my-solution .list li .title {
    line-height:44px;
    font-size:20px;
    padding:17px 0 20px
}
.my-solution .list li .icon {
    width:100px;
    height:100px;
    display:inline-block;
    border:1px solid #16B1B5;
    border-radius:50%;
    background-size:60%!important
}
.my-solution .list li .icon.a {
    background:url(/images/solution-1.png) no-repeat center center
}
.my-solution .list li .icon.b {
    background:url(/images/solution-2.png) no-repeat center center;
    background-size:37%!important
}
.my-solution .list li .icon.c {
    background:url(/images/solution-3.png?t=2018102901) no-repeat center center
}
.my-solution .list li .icon.d {
    background:url(/images/solution-4.png?t=2018102903) no-repeat center center;
    background-size:50%!important
}
.my-solution .list li .icon.e {
    background:url(/images/solution-5.png) no-repeat center center
}
.my-solution .list li .icon.f {
    background:url(/images/solution-6.png) no-repeat center center
}
.product-solution {
    width:100%
}
.product-solution .caption {
    margin-bottom:40px
}
.product-solution .list {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin-bottom:20px
}
.product-solution .list li {
    margin-right:20px;
    text-align:center;
    padding:20px 10px;
    border:1px solid #ccc;
    width:300px
}
.product-solution .list li .item {
    color:#16B1B5
}
.product-solution .list li .title {
    line-height:44px;
    font-size:20px;
    padding:17px 0 20px
}
.product-solution .list li .icon {
    width:100px;
    height:100px;
    display:inline-block;
    background-size:75%!important
}
.product-solution .list li .icon.a {
    background:url(/images/product-1.png?t=2018102901) no-repeat center center
}
.product-solution .list li .icon.b {
    background:url(/images/product-2.png?t=2018102901) no-repeat center center
}
.product-solution .list li .icon.c {
    background:url(/images/product-3.png?t=2018102901) no-repeat center center
}
.product-solution .list li .icon.d {
    background:url(/images/product-4.png?t=2018102901) no-repeat center center
}
.product-solution .spec-item {
    background:url(/images/product-5.jpg) no-repeat center center;
    text-align:center
}
.product-solution .btn {
    background:#16B1B5;
    width:150px;
    margin-left:123px;
    height:30px;
    line-height:30px
}
.product-banner {
    background:url(/images/product.jpg) no-repeat center center;
    height:600px;
    position:relative;
    background-size:cover
}
.product-bad .list {
    width:1020px;
    display:table;
    margin:30px auto 0
}
.product-bad .list li {
    width:100%;
    height:460px;
    margin:0 11px;
    position:relative;
    cursor:pointer;
    text-align:center;
    overflow:hidden;
    float:left
}
.product-bad .list .img {
    width:100%;
    display:block
}
.product-bad .list .title {
    font-size:24px;
    line-height:40px;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    background:0 0;
    color:#fff;
    position:absolute;
    left:0;
    z-index:1;
    width:100%
}
.product-bad .list p {
    font-size:24px
}
.product-bad .list .item-title {
    margin-top:154px
}
.product-bad .list .item {
    height:100%;
    top:0;
    left:383px;
    overflow:hidden;
    position:absolute
}
.product-bad .list .item.one {
    background:url(/images/product-1-1.jpg) no-repeat
}
.product-bad .list .item.two {
    background:url(/images/product-2-2.jpg) no-repeat
}
.product-bad .list .fl {
    width:40%;
    height:100%;
    background:rgba(0,0,0,.7)
}
.product-bad .list .fr {
    width:60%;
    height:100%
}
.product-bad .list .fr .msg {
    position:absolute;
    top:50%;
    padding:0 40px;
    text-align:justify;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%)
}
.product-bad .list .hover-area {
    z-index:3;
    color:#fff;
    text-align:center;
    width:1020px
}
.concat-caption {
    margin-top:10px
}
.down-area {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin-top:80px
}
.down-area div {
    width:126px;
    text-align:center;
    background:#fff;
    padding:5px;
    margin-right:10px;
    border-radius:5px
}
.down-area img {
    width:25px;
    height:31px;
    display:inline-block;
    vertical-align:middle
}
.help-container {
    width:1200px;
    margin:0 auto
}
.mark-content.other a {
    font-size:18px;
    color:#708cf1
}
.download-table {
    color:#80b0e8;
    text-decoration:underline
}
.merchant-container {
    width:760px;
    margin:80px auto
}
.merchant-online {
    display:inline-block
}
.merchant-title {
    font-size:30px
}
.merchant-title_h3 {
    font-size:18px;
    margin-bottom:5px
}
.merchant-logo img {
    width:200px
}
.merchant-body .title {
    font-size:24px;
    border-left:4px solid red;
    line-height:24px;
    padding-left:5px
}
.merchant-verify>label:before {
    content:"*";
    display:inline-block;
    color:red;
    margin-right:3px
}
.file-upload {
    border:1px dashed #aaa;
    padding:12px;
    cursor:pointer
}
.merchant-container .inline-input {
    display:inline-block;
    width:auto
}
.merchant-container .tip-message {
    display:inline-block;
    color:#999
}
.merchant-container .radio-box>input {
    margin-right:15px
}
.merchant-container .el-checkbox {
    display:block;
    width:150px
}
.merchant-container .el-checkbox+.el-checkbox {
    margin-left:0
}
.merchant-container .remark-length {
    position:absolute;
    bottom:0;
    right:10px;
    color:#999
}
.m-btn {
    display:inline-block;
    line-height:1;
    white-space:nowrap;
    cursor:pointer;
    background:#fff;
    border:2px solid #666;
    color:#606266;
    -webkit-appearance:none;
    text-align:center;
    box-sizing:border-box;
    outline:0;
    margin:0;
    -webkit-transition:.1s;
    transition:.1s;
    font-weight:500;
    padding:12px 20px;
    font-size:14px;
    border-radius:4px
}
.m-btn.m-btn-black {
    background:#4a4a4a;
    color:#fff
}
.iw_poi_title {
    color:#c52;
    font-size:14px;
    font-weight:700;
    overflow:hidden;
    padding-right:13px;
    white-space:nowrap
}
.iw_poi_content {
    font:12px arial,sans-serif;
    overflow:visible;
    padding-top:4px;
    white-space:-moz-pre-wrap;
    word-wrap:break-word
}
#dituContent {
    display:none;
    width:100%;
    height:333px;
    margin:0 auto;
    border:#ccc solid 1px
}
.join-banner {
    background:url(/images/home-3.jpg) no-repeat center center;
    height:600px;
    background-size:cover;
    position:relative
}
.article-area .section-cover {
    margin-bottom:150px
}
.article-area .section-cover .cover-title {
    text-align:center;
    margin-top:50px
}
.article-area .section-cover .cover-title .title-ch {
    font-size:36px;
    font-weight:500;
    color:#333;
    line-height:50px
}
.article-area .section-cover .cover-title .title-line {
    display:inline-block;
    width:2px;
    height:30px;
    margin:0 10px 0;
    background-color:#16B1B5;
    vertical-align:sub
}
.article-area .section-cover .cover-title .title-en {
    font-size:21px;
    font-weight:300;
    color:#666;
    line-height:29px
}
.article-area .section-cover .cover-body {
    margin:0 auto;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-justify-content:space-around;
    -ms-flex-pack:distribute;
    justify-content:space-around
}
.article-area .section-cover .cover-body .body-box .sczx-img {
    width:300px;
    height:400px;
    background:url(/images/join/shiczhongx.png) no-repeat center center;
    background-size:contain
}
.article-area .section-cover .cover-body .body-box .yfzx-img {
    width:300px;
    height:400px;
    background:url(/images/join/yanfzhongx.png) no-repeat center center;
    background-size:contain
}
.article-area .section-cover .cover-btn {
    width:156px;
    text-align:center;
    margin:0 auto;
    padding:10px 30px;
    border-radius:27px;
    border:1px solid #16B1B5;
    color:#16B1B5;
    font-size:24px;
    line-height:33px;
    font-weight:500;
    -webkit-transition:ease .5s all;
    transition:ease .5s all
}
.article-area .section-cover .cover-btn:hover {
    color:#fff;
    background:#16B1B5
}
.article-area .section-detail {
    display:none;
    margin:50px 0 150px
}
.article-area .section-detail.section-detail-sczx {
    width:1260px;
    height:1000px;
    background:url(/images/join/sczx.png) no-repeat center center;
    background-size:contain
}
.article-area .section-detail.section-detail-yfzx {
    width:1260px;
    height:1000px;
    background:url(/images/join/yfzx.png) no-repeat center center;
    background-size:contain
}
.m-style {
    display:inline-block
}
.news-container #company-box {
    display:none
}
.news-container .news-list-container {
    padding:50px 30px;
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start
}
.news-container .news-banner {
    background:url(/images/news/banner.png) no-repeat center center;
    height:600px;
    background-size:cover;
    position:relative
}
.news-container .news-pager {
    text-align:right;
    margin-top:30px
}
.news-container .news-list .news-item {
    text-decoration:none;
    padding:40px 30px;
    border-bottom:1px solid #ddd
}
.news-container .news-list .news-item .icon-top {
    width:30px;
    display:none
}
.news-container .news-list .news-item.top .icon-top {
    display:block
}
.news-container .news-list .news-item:hover {
    background-color:rgba(0,0,0,.1)
}
.news-container .news-list .news-item .date-box {
    color:#16B1B5;
    text-align:center
}
.news-container .news-list .news-item .date-box .day {
    font-size:28px;
    font-weight:700
}
.news-container .news-list .news-item .date-box .date {
    font-size:14px
}
.news-container .news-list .news-item .cover-box {
    width:180px;
    min-width:180px;
    height:110px;
    background-color:#ddd;
    background-repeat:no-repeat;
    background-size:100%;
    background-position-y:top
}
.news-container .news-list .news-item .content-box {
    height:110px;
    max-width:877px
}
.news-container .news-list .news-item .content-box .title {
    font-weight:700;
    color:#333;
    margin-bottom:10px;
    font-size:20px
}
.news-container .news-list .news-item .content-box .title .txt {
    margin-right:10px
}
.news-container .news-list .news-item .content-box .info {
    color:#666;
    font-size:14px;
    line-height:20px;
    height:40px;
    overflow:hidden
}
.news-container .news-list .news-item>div {
    margin-right:30px
}
.news-container .news-list .news-item>div:last-child {
    margin-right:0
}
.news-container .pagination {
    margin-top:50px;
    text-align:right
}
.news-container .pagination .page-btn {
    font-size:11px;
    display:none;
    float:right;
    margin-left:15px;
    text-align:center;
    background:#fff;
    border:1px solid #dadada;
    padding:6px 14px
}
.news-container .pagination .page-btn.active {
    background:#16B1B5;
    color:#fff
}
.news-container .news-detail {
    position:relative;
    margin-right:50px
}
.news-container .news-detail .title {
    line-height:30px;
    font-size:24px;
    font-weight:700;
    color:#16B1B5
}
.news-container .news-detail .time {
    margin-top:15px
}
.news-container .news-detail .content {
    margin-top:32px;
    min-height:200px
}
.news-container .news-detail .hr {
    margin-top:15px
}
.news-container .news-hot {
    width:250px;
    position:relative
}
.news-container .news-hot .hot-title {
    color:#16B1B5;
    line-height:30px;
    font-weight:700
}
.news-container .news-hot .hr {
    margin-top:15px
}
.news-container .news-hot .hot-list {
    margin-top:56px
}
.news-container .news-hot .hot-list .hot-item {
    display:block;
    margin-bottom:20px
}
.news-container .news-hot .hot-list .hot-item .hot-item-img {
    width:70px;
    height:46px;
    background-color:#ddd;
    background-repeat:no-repeat;
    background-size:cover
}
.news-container .news-hot .hot-list .hot-item .hot-item-title {
    margin-left:12px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden
}
.news-container .news-hot .hot-list .hot-item .hr {
    margin-top:20px
}
.result-container .no-result {
    width:406px;
    height:406px;
    background:url(/images/news/no-result.png) no-repeat;
    margin:0 auto;
    background-size:cover;
    position:relative
}
.result-container .result-content {
    font-size:16px;
    color:#666;
    text-align:center;
    line-height:32px
}
.f-18 {
    font-size:18px
}
.f-12 {
    font-size:12px
}
.f-14 {
    font-size:14px
}
.c-9 {
    color:#999
}
.c-6 {
    color:#666
}
.c-3 {
    color:#333
}
.p-r {
    position:relative
}
.p-a {
    position:absolute
}
.p-f {
    position:fixed
}
.hr {
    height:1px;
    width:100%;
    background:#dadada
}
.ellipsis {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.home-6 {

}